[submodule "my.vim/bundle/Mark"]
	path = my.vim/bundle/Mark
	url = https://github.com/vim-scripts/Mark.git
[submodule "my.vim/bundle/Vundle.vim"]
	path = my.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "my.tool/fzf"]
	path = my.tool/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "my.vim/bundle/fzf.vim"]
	path = my.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "my.vim/bundle/editorconfig-vim"]
	path = my.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
