[submodule ".vim/bundle/The-NERD-tree"]
	path = .vim/bundle/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/Mark"]
	path = .vim/bundle/Mark
	url = https://github.com/vim-scripts/Mark.git
[submodule ".vim/bundle/TagHighlight"]
	path = .vim/bundle/TagHighlight
	url = https://github.com/vim-scripts/TagHighlight.git
[submodule ".vim/bundle/Tagbar"]
	path = .vim/bundle/Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/vim-scripts/ctrlp.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-scripts/vim-airline.git
[submodule ".vim/bundle/vim-mucomplete"]
	path = .vim/bundle/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
